<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eliasasskali.tfg.android">

    <application
        android:name="com.eliasasskali.tfg.App"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.features.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.features.loginSignup.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.features.completeProfile.CompleteProfileActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.features.clubs.HomeActivity"
            android:exported="true">
        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.LOCATION"/>
</manifest> 